<header class="fixed pin-t pin-l w-screen max-w-full z-40 header transition-slow">
    <div class="relative container w-full mx-auto flex justify-between items-center py-5 px-5 md:px-0">
        <img src="{{ theme.link }}/assets/images/Bruins4BruinsWhite.png" class="w-48 md:w-80" />
        <a href="https://form.jotform.com/60974877426168" class="btn">Give Now</a>
    </div>
</header>