.quotes {
  @include xs {
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
  }


  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
    div:nth-child(2) {
      -ms-grid-column: 3;
    }
    div:nth-child(3) {
      -ms-grid-column: 5;
    }
  }

}
.quote {
  //background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(0,32,91,1) 49%, rgba(0,32,91,1) 100%);

}